/*

filename: styles.css

author: Chea Roelink

created: 30/03/2025

last modified: 30/03/2025

description: index - styles for homepage/head of every page

*/
*{
    font-family: "Calibri", sans-serif;
}
/* #region ====================> header <==================== */

.job-header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    background-color: #eee6db;
    flex-wrap: wrap;
    width: 96.8%;
    transform: translate(-1%, -6%);
}

.job-logo img {
    max-width: 130px;
    height: auto;
    object-fit: contain;
}

@media (max-width: 650px) {
    .job-logo {
        display: none;
    }
}

.job-nav-bar {
    flex: 1;
    display: flex;
    justify-content: left;
    gap: 2rem;
}

.job-nav-btn {
    background: none;
    border: none;
    font-family: 'Onest', sans-serif;
    font-size: 1rem;
    color: #2E2E2E;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.job-nav-btn:hover {
    color: #3c2b24;
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

/* #endregion */



/* #region ===========> footer <============ */

#footer {
  background-color: #eee6db;
  color: black;
  text-align: center;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
  width: 1350px;
  height: 300px;
  transform: translate(-0.6%, 18%);
  align-items: center;
  justify-content: space-evenly;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/* footer of footer extra info */
#footer-copyright {
  margin: 0;
  font-size: 14px;
  justify-content: start, end;
  clear: both;
  float: left;
  transform: translateY(-350%);
}
#footer-privacy{
  font-size: 14px;
  justify-content: start, end;
  float: right;
  text-decoration: none;
  color: black;
  text-decoration: none;
  transition: color 0.3s;
  margin-right: 40px;
  margin-left: 30px;  
  transform: translateY(-350%);
}
#footer-terms{
  font-size: 14px;
  justify-content: end;
  float: right;
  color: black;
  text-decoration: none;
  text-align: center;
  margin: 0;
  transform: translateY(-350%);
}
/* Lists and their items */
#footer-ul-contacts{
  color: rgb(121, 94, 21);
  list-style-type: none;
  text-align: center;
  float: left;
  padding-left: 50px;
  font-size: 20px;
}
#footer-ul-page-links {
  color: rgb(121, 94, 21);
  list-style-type: none;
  text-align: center;
  float: left;
  padding-left: 125px;
  font-size: 20px;
}
#footer-a-page-links {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
#footer-ul-jump-tos {
  color: rgb(121, 94, 21);
  list-style-type: none;
  text-align: center;
  float: left;
  padding-left: 125px;
  font-size: 20px;
}
#footer-a-jump-tos {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
#footer-a-contacts {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
#footer-ul-jump-tos li {
  margin-top: 15px;
  padding: 5px;
  font-size: 16px;
}
#footer-ul-page-links li {
  margin-top: 15px;
  padding: 5px;
  font-size: 16px;
}
#footer-ul-contacts li {
  color: black;
  margin-top: 15px;
  padding: 5px;
  font-size: 16px;
}
#footer-ul-jump-tos li a:hover {
  color: #3498db;
  text-decoration: underline;
}
#footer-ul-page-links li a:hover {
  color: #3498db;
  text-decoration: underline;
}
#footer-ul-contacts li a:hover {
  color: #3498db;
  text-decoration: underline;
}
#footer a[id="footer-terms"]:hover {
  color: #3498db;
  text-decoration: underline;
}
#footer a[id="footer-privacy"]:hover {
  color: #3498db;
  text-decoration: underline;
}
/* newsletter */
#newsletter-title{
  color: rgb(121, 94, 21);
  padding-top: 42.4px;
  margin-left: 760px;
  font-size: 23px;
}
#newsletter-fieldset {
  border-color: black;
  width: 500px;
  height: 125px;
  float: right;
  margin-right: 25px;
  margin-bottom: 100px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#newsletter-textarea {
  width: 500px;
  height: 20px;
  resize: none;
}
/*#region ====================> main <============ */
#index-body{
    background-color: white;
}
#background-image{
    float: right;
    margin-top: -21px;
    justify-content: center;
    transform: translateX(0.6%);
    mask-image: linear-gradient(to bottom, black calc(100% - 200px), transparent 100%);
}
.company-description-fieldset-left{
    background-color: #eee6db;
    border: 0px solid #eee6db;
    width: 800px;
    height: 500px;
    background-blend-mode: normal;
    transform: translate(0%, -120%);
    border-radius: 10px;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}
.company-description-fieldset-right{
    background-color: #eee6db;
    border: 0px solid #eee6db;
    width: 420px;
    height: 500px;
    background-blend-mode: normal;
    transform: translate(190%, -220%);
    border-radius: 10px;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}
@keyframes fadeInOpacity {
	0% {
        color: rgb(0, 0, 0, 0);
		background-color: #eee6db00;
        border-color: #eee6db00;
        
	}
	100% {
        color: rgb(0, 0, 0, 1);
		background-color: #eee6db;
        border-color: #eee6db;
	}
}
#company-description{
    text-align: left;
    display: inline-block;
    position: absolute;
    word-wrap: normal;
    color: rgb(0, 0, 0, 1);
    grid-row: 1px;
    animation-name: fadeInOpacityText;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2.7s;
}
@keyframes fadeInOpacityText {
	0% {
        color: rgb(0, 0, 0, 0);
        
	}
	100% {
        color: rgb(0, 0, 0, 1);
	}
}